html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: green;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Make text readable on green background */
}